<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>improved_summary</servlet-name>
        <servlet-class>servlets.improved_summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>servlets.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>improved_summary2</servlet-name>
        <servlet-class>servlets.improved_summary2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>servlets.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetSumm</servlet-name>
        <servlet-class>servlets.ResetSumm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>improved_summary</servlet-name>
        <url-pattern>/improved_summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>improved_summary2</servlet-name>
        <url-pattern>/improved_summary2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetSumm</servlet-name>
        <url-pattern>/ResetSumm</url-pattern>
    </servlet-mapping>
</web-app>